*{
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: #fff;
}
li, 
ul{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  outline: none;
}
.suptitle-left {
  font-size: 22px;
  opacity: 0.7;
  line-height: 32px;
  letter-spacing: 7.33333px;
  padding-left: 103px;
  display: inline-block;
  position: relative;
  text-shadow: black 4px 4px 4px;
  &::before {
    width: 80px;
    height: 1px;
    position: absolute;
    content: "";
    background-color: #fff;
    left: 0;
    top: 50%;
    text-shadow: black 4px 4px 4px;
  }
}
