*{
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: #fff;
  outline: none;
  background-color: $bg;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 15px;
}
li,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.suptitle-left {
  font-size: 22px;
  opacity: 0.7;
  line-height: 32px;
  letter-spacing: 7.33333px;
  padding-left: 103px;
  display: inline-block;
  position: relative;
  text-shadow: black 4px 4px 4px;
  &::before {
    width: 80px;
    height: 1px;
    position: absolute;
    content: "";
    background-color: #fff;
    left: 0;
    top: 50%;
    text-shadow: black 4px 4px 4px;
  }
}
// .btn {
//   font-size: 40px;
//   font-weight: 800;
//   line-height: 80px;
//   text-transform: uppercase;
//   // position: relative;
//   span {
//     position: relative;
//     display: inline-block;
//     background: $main-color;
//     padding: 0 57px 0 17px;
//     margin-left: 19px;
//     &::before {
//       content: "";
//       width: 20px;
//       height: 1px;
//       background: #fff;
//       position: absolute;
//       top: 50%;
//       left: -10px;
//     }
//     &::after {
//       content: "";
//       position: absolute;
//       width: 24px;
//       height: 20px;
//       background-image: url(../img/arrows-right.svg);
//       right: 17px;
//       top: 50%;
//       transform: translateY(-50%);
//     }
//   }
// }
.btn {
  font-size: 40px;
  font-weight: 500;
}

.btn:hover:after,
.btn:hover:before {
  left: 100%;
  opacity: 0;
  transform: rotate(-2000deg);
}
.btn:hover {
  .btn-text::before{
    width: 100%;
  }
}

.btn:active .btn-text {
  transform: translateY(5px);
  // box-shadow: 0 0 2px #e73556, 0 0 5px #e73556, 0 0 15px #e73556, 0px 0 35px #e73556;
  box-shadow: 0 0 2px #e73556, 0 0 15px #e73556, 0px 0 35px #e73556;
}
.btn:active .btn-text {
  span {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #fff;
  }
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid #921138;
  top: -8px;
  z-index: 1;
  // transition: 1s;
}

.btn::before {
  left: 15%;
  animation: btn-bef 5s linear infinite;
  transition: 1s;
}
@-webkit-keyframes btn-bef {
  0% {
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn::after {
  left: 18%;
  transform: rotate(5deg);
  animation: btn-aft 5s linear infinite;
  transition: 1.5s;
}
@-webkit-keyframes btn-aft {
  0% {

  }

  100% {
    transform: rotate(365deg);
  }
}

.btn-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px 30px 5px;
  color: #fff;
  transition: 0.1s;
  box-shadow: 0 10px 0 0 #921138;

  span {
    z-index: 2;
  }
}

.btn-text::after,
.btn-text::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: $main-color;
  top: 0;
}

.btn-text::before {
  left: 0;
  z-index: 2;
  transition: .8s;
}

.btn-text::after {
  right: 0;
}
