@import "vars";

body{
  background: $east-bg;
}
.progress{
  background: $east-color;
}
.btn-totop{
  border: 1px solid $east-color;
  &:hover {
    ::before {
      border-left: 1px solid $east-color;
      border-top: 1px solid $east-color
    }
  }
}
.header__aside{
  background: rgba(157,189,71, 0.2);
}
.slider__dots-btn{
  background: $east-color;
  border: 1px solid $east-color;
  .slider__dots-btntext:hover{
    .slider__dots-btntext{
      color: $east-color;
    }
  }
}
.slider__map-dots{
  background: $east-color;
  box-shadow: 0px 0px 35px rgba($east-color, 0.8);
  &:hover {
    box-shadow: 0px 0px 15px rgba($east-color, 0.8), 0px 0px 35px rgba($east-color, 1);
  }
  &:active {
    border: 1px solid #b60d2c;
    box-shadow: 0px 0px 15px rgba($east-color, 0.8), 0px 0px 35px rgba($east-color, 0.8);
  }
}

.slider__map{
 .slider__dots-content{
    border: 1px solid $east-color;
  }
   .slick-current{
    .slider__dots-content{
       background: rgba(157,189,71, 0.5);
    }
  }
}
.btn::after,
.btn::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid #596b28;
  top: -8px;
  z-index: 1;
  // transition: 1s;
}
.btn-text{
  box-shadow: 0 10px 0 0 #596b28;
}
.btn-text::after,
.btn-text::before {
  background: $east-color;
}

.btn:active .btn-text{
  box-shadow: 0 0 2px $east-color, 0 0 15px $east-color, 0px 0 35px $east-color;
}