// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "animate";
@import "western-swamps";

.header {
  position: relative;
  height: 100vh;
}

.header__slider {
  &-item-first {
    background-image: url(../img/105741-otrazhenie-boloto-nebo-pustynya-voda-2560x1707.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    z-index: 1;
    &-mask {
      height: 100vh;
      background: rgba(0, 0, 0, 0.397);
    }
  }
  &-item-second {
    background-image: url(../img/1572947272_7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    &-mask {
      height: 100vh;
      background: rgba(0, 0, 0, .4);
    }
  }
  &-item-third {
    background-image: url(../img/1572947375_25.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    &-mask {
      height: 100vh;
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &-item-fourth {
    background-image: url(../img/2618137.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    &-mask {
      height: 100vh;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
.slider-item__info {
  text-align: right;
  position: absolute;
  right: 80px;
  bottom: 110px;
  text-transform: uppercase;
}
.slider-item__info-suptitle {
  margin-bottom: 5px;
  // text-shadow: black 2px 3px 4px;
}
.slider-item__info-title {
  font-size: 80px;
  font-weight: 800;
  line-height: 86px;
  margin-bottom: 48px;
  // text-shadow: black 2px 3px 4px;
  opacity: 0.8;
}
.slider-item__info-suptext {
  margin-bottom: 8px;
  // text-shadow: black 2px 3px 4px;
}
.slider-item__info-text {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 20px;
  // text-shadow: black 2px 3px 4px;
}
.slider-item__info-link {
  display: inline-block;
  text-align: right;
}
.slider-arrows {
  position: absolute;
  top: 46px;
  right: 80px;
  cursor: pointer;
  z-index: 2;
}
.slider-arrows__left {
  right: 125px;
}
.slick-track {
  width: 920px;
}
.slider-dots {
  position: absolute;
  max-width: 920px;
  width: 100%;
  right: 25px;
  bottom: 36px;
  .slick-list,
  .slick-track,
  .slick-slide,
  .draggable,
  .slick-initialized,
  .slick-slider {
    overflow: visible !important;
  }
  .slick-current {
    .header__aside-west {
    }
    .dots-box {
      background: rgba(0, 0, 0, 0.438);
      &__west::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 4px;
        width: 200px;
        background: rgb(231, 53, 86);
        box-shadow: 0 0 10px rgb(231, 53, 86);
      }
      &__south::before {
        position: absolute;
        content: "";
        top: 0;
        left: 205px;
        height: 4px;
        width: 200px;
        background: rgb(157, 189, 71);
        box-shadow: 0 0 10px rgb(132, 164, 47);
      }
      &__nord::before {
        position: absolute;
        content: "";
        top: 0;
        left: 410px;
        height: 4px;
        width: 200px;
        background: rgb(192, 149, 81);
        box-shadow: 0 0 10px rgb(192, 149, 81);
      }
      &__east::before {
        position: absolute;
        content: "";
        top: 0;
        left: 615px;
        height: 4px;
        width: 200px;
        background: rgb(250, 145, 72);
        box-shadow: 0 0 10px rgb(250, 145, 72);
      }
    }
  }
  &__link {
    outline: none;
  }
}
.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  background: rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  cursor: pointer;
  &__number {
    font-size: 24px;
    line-height: 34px;
    font-weight: 800;
  }
  &__name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}
.header__title {
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__aside {
  background: rgba(82, 23, 23, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-right: 1px solid rgba(#fff, 0.25);
  height: 100vh;
  width: 170px;
}
.header__logo {
  padding-top: 10px;
  min-height: 169px;
}
.menu {
  &__list {
    text-align: center;
    li {
      margin-bottom: 5px;
    }
    a {
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      font-weight: 500;
    }
    span {
      display: block;
    }
  }
}
// about-swamps-----------------------------------
.about-swamps{
  height: 100vh;
}
.about-swamps__map-wrapper{
  background: #000;
}
.about-swamps__map{
  width: 750px;
  height: 500px;
}
@import "media";
