// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "animate";
@import "western-swamps";

.header {
  position: relative;
  height: 100vh;
}

.header__slider {
  &-item-first {
    background-image: url(../img/105741-otrazhenie-boloto-nebo-pustynya-voda-2560x1707.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    z-index: 1;
    &-mask {
      height: 100vh;
      background: rgba(0, 0, 0, 0.397);
    }
  }
  &-item-second {
    background-image: url(../img/1572947272_7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    &-mask {
      height: 100vh;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  &-item-third {
    background-image: url(../img/1572947375_25.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    &-mask {
      height: 100vh;
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &-item-fourth {
    background-image: url(../img/2618137.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    &-mask {
      height: 100vh;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
.slider-item__info {
  text-align: right;
  position: absolute;
  right: 80px;
  bottom: 110px;
  text-transform: uppercase;
}
.slider-item__info-suptitle {
  margin-bottom: 5px;
  // text-shadow: black 2px 3px 4px;
}
.slider-item__info-title {
  font-size: 80px;
  font-weight: 800;
  line-height: 86px;
  margin-bottom: 48px;
  // text-shadow: black 2px 3px 4px;
  opacity: 0.8;
}
.slider-item__info-suptext {
  margin-bottom: 8px;
  // text-shadow: black 2px 3px 4px;
}
.slider-item__info-text {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 20px;
  // text-shadow: black 2px 3px 4px;
}
.slider-item__info-link {
  display: inline-block;
  text-align: right;
}
.slider-arrows {
  position: absolute;
  top: 46px;
  right: 80px;
  cursor: pointer;
  z-index: 2;
}
.slider-arrows__left {
  right: 125px;
}
.slick-track {
  width: 920px;
}
.slider-dots {
  position: absolute;
  max-width: 920px;
  width: 100%;
  right: 25px;
  bottom: 36px;
  .slick-list,
  .slick-track,
  .slick-slide,
  .draggable,
  .slick-initialized,
  .slick-slider {
    overflow: visible !important;
  }
  .slick-current {
    // .header__aside-west {
    // }
    .dots-box {
      background: rgba(0, 0, 0, 0.438);
      &__west::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 4px;
        width: 200px;
        background: rgb(231, 53, 86);
        box-shadow: 0 0 10px #e73556;
      }
      &__south::before {
        position: absolute;
        content: "";
        top: 0;
        left: 205px;
        height: 4px;
        width: 200px;
        background: rgb(157, 189, 71);
        box-shadow: 0 0 10px rgb(132, 164, 47);
      }
      &__nord::before {
        position: absolute;
        content: "";
        top: 0;
        left: 410px;
        height: 4px;
        width: 200px;
        background: rgb(192, 149, 81);
        box-shadow: 0 0 10px rgb(192, 149, 81);
      }
      &__east::before {
        position: absolute;
        content: "";
        top: 0;
        left: 615px;
        height: 4px;
        width: 200px;
        background: rgb(250, 145, 72);
        box-shadow: 0 0 10px rgb(250, 145, 72);
      }
    }
  }
  &__link {
    outline: none;
  }
}
.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  background: rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  cursor: pointer;
  &__number {
    font-size: 24px;
    line-height: 34px;
    font-weight: 800;
  }
  &__name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}
.header__title {
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__aside {
  background: rgba(82, 23, 23, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-right: 1px solid rgba(#fff, 0.25);
  height: 100vh;
  width: 170px;
}
.header__logo {
  padding-top: 10px;
  min-height: 169px;
}
.menu {
  &__list {
    text-align: center;
    li {
      margin-bottom: 5px;
    }
    a {
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      font-weight: 500;
    }
    span {
      display: block;
    }
  }
}
// about-swamps-----------------------------------

.swamps {
  height: 100vh;
  padding-top: 40px;
  .slider-arrows {
    transform: translateY(-90px);
  }
  // background: #221e1e;
}
.slider__map {
  margin: 0 auto;
  min-height: 500px;
  background-image: url(../img/swamps-map.png);
  width: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .slick-list {
    min-height: 500px;
    overflow: visible;
  }
  .slick-current {
    .slider__dots-content {
      display: block;
      overflow: hidden;
      // background: #211919;
      // background: rgba(#211919, 0.8);
      background: rgba(#421e1e, 0.5);
      position: relative;
      z-index: 1;
      //   &:after{
      //     content: "";
      //     position: absolute;
      //     height: 10px;
      //     width: 100%;
      //     left: 0;
      //     bottom: 0;
      //     background: #211919;
      //     box-shadow: 0 0 5px 2px #211919, 0 0 10px #211919, 0px 0 25px #211919, 0px 0 25px #211919, 0 0 25px #211919;
      // }
    }
  }
  .slider__dots-content {
    display: none;
    width: 190px;
    min-height: 250px;
    border: 1px solid #e73556;
    text-align: center;
  }
  .slider__dots-contenttitle {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
  }
  .slider__dots-contenttext {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
    .box-glitch {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .glitch {
         font-size:16px;
         position: relative;
         &:before, &:after {
            content:'Самое зловещее место западных болот, но вместе с тем самое безопасное...';
            color:#fff;
            position: absolute;
            top:0;
            overflow:hidden;
         }
         &:before {
            left:1px;
            text-shadow: -1px 0 #000;
            animation: glitch-before 2s linear 0s infinite alternate;
         }
         &:after {
            left:-1px;
            text-shadow: -1px 0 #7eacd1;
            animation: glitch-after 2s linear 0s infinite alternate;
         }
      }
    }
    
    @keyframes glitch-before {
      $steps: 5;
      @for $i from 0 through $steps {
         #{percentage($i*(1/$steps))} {
            clip: rect(random(150)+px, 350px, random(150)+px, 30px)
         }
      }
    }
    
    @keyframes glitch-after {
      $steps: 5;
      @for $i from 0 through $steps {
         #{percentage($i*(1/$steps))} {
            clip: rect(random(150)+px, 350px, random(150)+px, 30px)
         }
      }
    }
  }
}
.slider__dots-content-1 {
  transform: translate(0, -254px);
}
.slider__dots-content-2 {
  transform: translate(0, -255px);
}
.slider__dots-content-3 {
  transform: translate(-155px, -254px);
}
.slider__dots-content-4 {
  transform: translate(0, -254px);
}
.slider__dots-content-5 {
  transform: translate(0, -254px);
}
.slider__dots-content-6 {
  transform: translate(0, -254px);
}
.slider__dots-content-7 {
  transform: translate(0, 25px);
}
.slider__dots-content-8 {
  transform: translate(-195px, -160px);
}
.slider__dots-content-9 {
  transform: translate(-195px, -230px);
}

.slider__dots-btn {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    background: $main-color;
    border-radius: 1px;
    border: 1px solid $main-color;
    .slider__dots-btntext{
      display: inline-block;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      // box-shadow: 0 0 20px 10px rgba(230, 30, 10, 0.6);
      animation: burn 1000ms ease-out forwards;
      .slider__dots-btntext{
        color: $main-color;
      }

      &::before {
        content: "";
        position: absolute;
        left: 20%;
        width: 50px;
        height: 40px;
        background: rgba(255, 230, 110, 1);
        border-radius: 100%;
        animation: flare 1000ms ease-out forwards;
      }

      &::after {
        content: "";
        position: absolute;
        right: 20%;
        width: 50px;
        height: 40px;
        background: rgba(255, 230, 110, 1);
        border-radius: 100%;
        animation: flare 1000ms ease-out forwards;
      }
    }
  }

  @keyframes flare {
    100% {
      transform: translateY(-20px) scale(1.5);
      filter: blur(10px);
      opacity: 0;
    }
  }

  @keyframes burn {
    0% {
      color: rgba(255, 130, 110, 1);
      background: rgba(255, 230, 110, 1);
      box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
    }

    100% {
      background: #fff;
      border: 1px solid $main-color;
      box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0),
        0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
  }
.slider__map-dots {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: 24px !important;
  height: 24px;
  background: $main-color;
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgba($main-color, 0.8);
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 15px rgba($main-color, 0.8), 0px 0px 35px rgba($main-color, 1);
  }
  &:active {
    border: 1px solid #b60d2c;
    box-shadow: 0px 0px 15px rgba($main-color, 0.8), 0px 0px 35px rgba($main-color, 0.8);
  }
}
.slick-current {
  .slider__map-dots {
    background: #f0a2b0;
    box-shadow: 0px 0px 50px rgba($main-color, 1), 0px 0px 50px rgba($main-color, 1), 0px 0px 40px rgba($main-color, 1);
  }
}
.map--dot-1 {
  right: -44px;
  top: 449px;
}
.map--dot-2 {
  right: 12px;
  top: 426px;
}
.map--dot-3 {
  top: 394px;
  right: 104px;
}
.map--dot-4 {
  right: 280px;
  top: 323px;
}
.map--dot-5 {
  right: 43px;
  top: 312px;
}
.map--dot-6 {
  right: 67px;
  top: 255px;
}
.map--dot-7 {
  right: 273px;
  top: 42px;
}
.map--dot-8 {
  left: 196px;
  top: 167px;
}
.map--dot-9 {
  top: 294px;
  left: 175px;
}
.swamps-slider {
  padding: 0 0 110px 0;
  .slick-slide:nth-child(4n + 1) {
    .swamps-box {
      margin-top: 20px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .swamps-box {
      margin-top: 40px;
    }
  }
  .slider-arrows {
    opacity: 0.25;
  }
  .slick-current {
    .swamps-box__inner {
      background: rgba(#1c2121, 0.1);
      &-btn {
        display: inline;
        transition: 0.5s;
        opacity: 1;
      }
    }
  }
}
.swamps-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    min-height: 400px;
    background: rgba(#1c2121, 0.6);
    position: relative;
    transition: all 0.5s;
    &:hover {
      background: rgba(#1c2121, 0.3);
      .swamps-box__inner-btn {
        display: block;
        opacity: 1;
      }
    }
  }
}
.swamps-box__inner-title {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 800;
  padding: 72px 0 0 40px;
  width: 132px;
}
.swamps-box__inner-location {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 18px;
  transform: rotate(-90deg);
  position: absolute;
  left: 38px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}
.swamps-box__inner-btn {
  position: absolute;
  bottom: 5px;
  left: 45px;
  display: none;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
}
@import "media";
